.container {
  width: 100%;
  padding-inline: 0.5rem;
  margin-inline: auto;
  max-width: 100%;
}

@media (width >= 36rem) {
  .container {
    max-width: 36rem;
  }
}

@media (width >= 48rem) {
  .container {
    max-width: 48rem;
    padding-inline: 1rem;
  }
}

@media (width >= 64rem) {
  .container {
    max-width: 64rem;
  }
}

@media (width >= 82rem) {
  .container {
    max-width: 82rem;
  }
}
