.contacts {
  padding: 150px 0;
  background-color: var(--background-white);
}

.contacts__wrapper {
  display: flex;
  justify-content: center;
}

.contacts__container {
  display: flex;
  align-items: center;
  gap: 91px;
}

.contacts__description {
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.contacts__description-text {
  h2 {
    color: var(--dark-text-primary);
    font-size: 45px;
    font-weight: 700;
  }

  p {
    color: var(--dark-text-primary);
  }
}

.contacts__description-info {
  color: var(--dark-text-primary);
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.contacts__info-icontext {
  display: flex;
  gap: 16px;
}

.info-icontext__p {
  font-size: 20px;
  font-weight: 600;
}

.contacts__form-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 320px);
  gap: 24px;
}

.form__label-input {
  display: flex;
  flex-direction: column;
}

.form__label {
  color: var(--dark-text-primary);
}

.form__input {
  border-radius: 54px;
  background-color: var(--background-white);
  border: 1px solid var(--color-light-grey);
  padding: 22px 33px;
}

.input-message {
  border: 1px solid var(--color-light-grey);
  width: 100%;
  border-radius: 22px;
  background-color: var(--background-white);
  padding: 22px 70px 111px 33px;
}

.label-input__message {
  display: flex;
  flex-direction: column;
}

.send-button {
  border-radius: 42px;
  background-color: var(--black-button);
  padding: 16px;
  width: 25%;
  color: var(--light-text-primary);
}
