.header {
  padding: 18px 0;
  background-color: var(--color-black);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__icon-text {
  margin: 0;
  gap: 10px;
  align-items: center;
  display: flex;
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--color-white);
}

.header__socials {
  margin: 0;
  gap: 25px;
  align-items: center;
  display: flex;
}

.theme-toggle {
  border-radius: 20px;
  border: none;
}
